footer
    .superior
        width 100%
        height 124px
        background #E7E9EB
        margin-bottom 16px
        position relative
        +mobile()
            height auto
            padding 20px 0
        &:after
            content ''
            position absolute
            left 0
            bottom -13px
            width 100%
            height 2px
            background $amarelo
        .center
            height 100%
            clearfix()
        .newsletter
            float left
            width calc('100% - 350px')
            margin-top 35px
            +mobile()
                margin-top 0
                float none
                width 100%
            p
                lato 12 bold
                color $azul
                margin 0 0 8px
                line-height 1
                text-transform uppercase
            form
                width 100%
                font-size 0
                input
                    width calc('50% - 24.5px')
                    height 35px
                    background #F3F4F5
                    margin-right 7px
                    outline 0
                    vertical-align top
                    border 0
                    outline 0
                    padding 0 10px
                    lato 14
                    color $azul
                button
                    width 35px
                    height 35px
                    background #F3F4F5
                    border 0
                    outline 0
                    transition background .3s
                    position relative
                    cursor pointer
                    span
                        width 0
                        height 0
                        margin-left 2px
                        border-style solid
                        border-width 5px 0 5px 10px
                        border-color transparent transparent transparent $azul
                        transition border .3s
                    &:hover
                        background $azul
                        span
                            border-color transparent transparent transparent #fff
        .espaco-talenco
            width 300px
            height 70px
            border-left 1px solid $azul
            padding 15px 0 0 54px
            float right
            margin-top 27px
            +mobile()
                float none
                width 100%
                border-left 0
                border-top 1px solid $azul
                padding 22px 0 0
                margin-top 22px
            a
                display block
                color $azul
                lato 28 light
                strong
                    lato 28 black
                &:hover
                    color $amarelo
                span
                    display block
                    lato 12 bold
    .inferior
        background $azul
        padding 25px 0
        nav
            width 100%
            max-width 768px
            margin 0 auto
            text-align center
            padding-bottom 22px
            border-bottom 2px solid $amarelo
            font-size 0
            +mobile()
                display none
            a
                display inline-block
                lato 16
                color #fff
                margin 0 16px
                text-transform uppercase
                &:hover
                    color $amarelo
        .endereco
            margin 12px auto 20px
            color #fff
            text-align center
            width 100%
            max-width 768px
            lato 14
            +mobile()
                margin-top 0
        .copyright
            border-top 1px solid #79878D
            padding-top 14px
            lato 10
            color #79878D
            text-align center
            margin 0
            +mobile()
                span
                    display block
                    font-size 0
            a:hover
                color #fff
