header
    width 100%
    height 96px
    background $azul
    border-bottom 1px solid $amarelo
    .center
        height 100%
    .logo
        display block
        float left
        width 182px
        height 100%
        float left
        text-indent -9999px
        background $img('talenco.png') no-repeat center
        +mobile()
            width 150px
            background-size 100% auto
    #nav-desktop
        height 100%
        margin-right 80px
        font-size 0
        float right
        +below($tablet)
            display none
        a
            display inline-block
            padding 0 20px
            line-height 96px
            lato 16
            color #fff
            text-transform uppercase
            margin-right 1px
            transition background .3s, color .3s
            &:hover
            &.active
                background $amareloMenu
                color $azul
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        float right
        margin-left 25px
        +mobile()
            width 24px
            margin-left 15px
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 3px
            +mobile()
                height 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #fff
                transition .3s ease
                border-radius 3px
                +mobile()
                    height 3px
            &:before
                top 7px
                +mobile()
                    top 6px
            &:after
                top -7px
                +mobile()
                    top -6px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    .lang
        height 100%
        float right
        text-align left
        font-size 0
        padding-top 40px
        a
            display inline-block
            width 20px
            height 16px
            margin-left 3px
            opacity .5
            transition opacity .3s
            position relative
            &.lang-pt
                background $img('lang-pt.png') no-repeat center
            &.lang-en
                background $img('lang-en.png') no-repeat center
            &.lang-es
                background $img('lang-es.png') no-repeat center
            &:hover
            &.active
                opacity 1
            &.active:after
                content ''
                position absolute
                top -9px
                left 7px
                width 0
                height 0
                border-style solid
                border-width 5px 3px 0 3px
                border-color #fff transparent transparent transparent

#nav-mobile
    +above($tablet)
        display none !important
    display none
    background $azul
    box-shadow 0 3px 4px rgba(#000, .15)
    padding 25px 0
    width 100%
    left 0
    z-index 110
    > a
        display block
        lato 14
        text-transform uppercase
        color #fff
        text-align center
        margin 0 0 4px
        &.active
            color $amarelo
