normalize()

*
*:after
*:before
    box-sizing border-box

::selection
    background $amarelo
    color #fff

::-moz-selection
    background $amarelo
    color #fff

.not-found
    width 100%
    text-align center
    padding 280px 0
    +tablet()
        padding 160px 0
    +mobile()
        padding 100px 0
    h1
        display inline-block
        padding 12px 18px 12px
        border 2px solid $azul
        lato 12
        letter-spacing 1px
        color $azul
        text-transform uppercase
