.contato
    .informacoes
        padding 25px 0
        border-bottom 1px solid $amarelo
        clearfix()
        .telefone
            width 50%
            float left
            margin 0
            lato 16 bold
            color $azul
            line-height 1.15
            strong
                font-size 24px
            +mobile()
                width 100%
                margin-bottom 10px
        .endereco
            width 50%
            float left
            margin 0
            lato 16
            color $azul
            +mobile()
                width 100%
    .formulario
        position relative
        +above($mobile)
            min-height 435px
        form
            width 50%
            padding 30px 30px 30px 0
            clearfix()
            +mobile()
                width 100%
                padding 25px 0
            p
                margin 0 0 15px
                lato 24 black
                color $azul
                text-transform uppercase
            input[type=text]
            input[type=email]
            textarea
                width 100%
                display block
                background #F3F4F5
                height 40px
                margin-bottom 6px
                border 0
                outline 0
                padding 0 20px
                color $azul
                lato 16
            textarea
                padding 20px
                height 160px
                resize none
            button
                width 125px
                height 40px
                background $amarelo
                lato 16 black
                color $azul
                cursor pointer
                border 0
                outline 0
                float right
                transition background .3s, color .3s
                span
                    display inline-block
                    width 0
                    height 0
                    margin-left 8px
                    border-style solid
                    border-width 5px 0 5px 10px
                    border-color transparent transparent transparent $azul
                    transition border .3s
                &:hover
                    background $azul
                    color #fff
                    span
                        border-color transparent transparent transparent #fff
        .mapa
            width 50%
            position absolute
            top 0
            left 50%
            height 100%
            iframe
                width 100%
                height 100%
                display block
            +mobile()
                width 100%
                position relative
                left auto
                height 250px
