.home
    padding-bottom 70px
    +tablet()
        padding-bottom 45px
    +mobile()
        padding-bottom 25px
    .banners
        background #E7E9EB
        .center
            clearfix()
        a
            display block
            float left
            width calc('33.333% - 4px')
            margin-right 6px
            position relative
            overflow hidden
            &:hover
                .overlay
                    background rgba($azul, .5)
                .texto span
                    background $amarelo
            +mobile()
                width 100%
                margin-right 0
                margin-bottom 6px
                &:last-child
                    margin-bottom 0
            img
                width 100%
                display block
                transition transform .3s
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                transition background .3s
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background-image linear-gradient(180deg, transparent 0%, $azul 100%)
            .texto
                display block
                position absolute
                bottom 25px
                left 0
                width 100%
                padding 0 35px
                text-align center
                z-index 2
                overflow hidden
                h3
                    margin 0 0 10px
                    lato 18 bold
                    color $amarelo
                    text-transform uppercase
                    line-height 1.2
                p
                    margin 0
                    lato 16
                    color #fff
                span
                    display inline-block
                    border 1px solid #fff
                    lato 14
                    padding 7px 8px 5px
                    padding-right 32px
                    margin-top 8px
                    color #fff
                    position relative
                    transition background .3s
                    &:after
                        content ''
                        position absolute
                        right 8px
                        top 50%
                        width 16px
                        height 16px
                        margin-top -8px
                        background $img('ico-visitar.png') no-repeat center
                +below($tablet)
                    padding 0 20px
                    bottom 20px
                    h3
                        font-size 18px
                    p
                        font-size 15px
            &:nth-child(3n)
                margin-right 0
    .slogan
        margin 55px auto 65px
        display block
        max-width 90%
        +mobile()
            margin 25px auto 30px
    .chamadas
        .center
            clearfix()
        .chamada
            width 50%
            float left
            display block
            &.chamada-1 .texto
                background $azul
            &.chamada-1
            &.chamada-2
            &.chamada-5
            &.chamada-6
                .imagem:after
                    content ''
                    position absolute
                    top 20px
                    right 0
                    width 0
                    height 0
                    border-style solid
                    border-width 20px 20px 20px 0
                    border-color transparent #E7E9EB transparent transparent
                    +mobile()
                        transform rotate(90deg)
                        left 30px
                        top auto
                        bottom -10px
            &.chamada-3
            &.chamada-4
                .imagem:after
                    content ''
                    position absolute
                    top 20px
                    left 0
                    width 0
                    height 0
                    border-style solid
                    border-width 20px 0 20px 20px
                    border-color transparent transparent transparent #E7E9EB
                    +mobile()
                        transform rotate(90deg)
                        left 30px
                        top -10px
            &.chamada-1 .imagem:after
                border-color transparent $azul transparent transparent
            &.chamada-1 .imagem:before
                display none !important
            +below($tablet)
                width 100%
                margin-bottom 6px
            clearfix()
            .imagem
                width 50%
                float left
                height 220px
                position relative
                background-size cover
                background-position center
                &:before
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($amarelo, .5)
                    opacity 0
                    transition opacity .3s
                +mobile()
                    width 100%
            .texto
                width 50%
                float left
                height 220px
                overflow hidden
                background #E7E9EB
                padding 30px
                h2
                    margin 0
                    color #fff
                    lato 38 light
                    line-height 1.2
                    cursor default
                    +mobile()
                        font-size 32px
                h3
                    lato 20 black
                    color $azul
                    margin 0 0 6px
                    transition color .3s
                    +mobile()
                        font-size 18px
                p
                    margin 0
                    color $azul
                    lato 16
                    +mobile()
                        font-size 15px
                span
                    display inline-block
                    margin 20px 0 0
                    lato 11 black
                    color $azul
                    padding-right 20px
                    transition color .3s
                    &:after
                        display inline-block
                        content ''
                        width 0
                        height 0
                        margin-left 8px
                        transform translateY(1px)
                        border-style solid
                        border-width 5px 0 5px 10px
                        border-color transparent transparent transparent $azul
                        transition border .3s
                +mobile()
                    width 100%
                    height auto
                    padding 20px
            &:hover
                .imagem:before
                    opacity 1
                h3
                span
                    color $amarelo
                    &:after
                        border-color transparent transparent transparent $amarelo
