.sobre
.unidades
    padding-bottom 70px
    +tablet()
        padding-bottom 45px
    +mobile()
        padding-bottom 25px
    .cabecalho
        width 100%
        height 310px
        background-size cover
        background-position center
        +mobile()
            height 180px
    .wrapper
        margin-top -140px
        clearfix()
        +mobile()
            margin-top -30px
        aside
            width 360px
            margin-right 40px
            background #fff
            float left
            h2
                background $azul
                margin 0
                padding 30px
                lato 20 light
                color #fff
                text-transform uppercase
            a
                display block
                background #fff
                lato 16
                padding 19px 30px
                color $azul
                text-transform uppercase
                border-bottom 1px solid $amarelo
                transition background .3s
                position relative
                &.active:after
                    content ''
                    position absolute
                    top 50%
                    margin-top -5px
                    left 0
                    width 0
                    height 0
                    border-style solid
                    border-width 5px 0 5px 10px
                    border-color transparent transparent transparent $amarelo
                &:hover
                    background #F8EECF
            +mobile()
                width 100%
                margin-right 0
                h2
                    font-size 18px
                    padding 20px
                a
                    font-size 15px
                    padding 15px 20px
            +tablet()
                width 100%
                margin-right 0
        article
            width 800px
            margin-top 40px
            float left
            background #fff
            padding 50px
            +tablet()
                width 100%
                padding 0
            +mobile()
                width 100%
                padding 0
            h1
                margin 0 0 35px
                lato 24 black
                color $azul
                text-transform uppercase
                +mobile()
                    font-size 20px
                    margin-bottom 20px
                + *
                    margin-top 0
            h2
                lato 16 bold
                display block
                padding 12px
                background #F8EECF
                color $azul
                margin 2em 0 1em
            p
                lato 16
                color $azul
                a
                    color $amarelo
                    text-decoration underline
                    &:hover
                        text-decoration none
                +mobile()
                    font-size 15px
                img
                    width 100%
                    max-width 600px
                    display block
            ul
                padding 0
                list-style-type none
                margin 1em 0 1.5em
                li
                    lato 16
                    color $azul
                    position relative
                    padding-left 1em
                    line-height 1.5
                    +mobile()
                        font-size 15px
                    + li
                        margin-top .5em
                    &:before
                        content '\00b7'
                        position absolute
                        top -.25em
                        left 0
                        font-size 1.5em
            .box-wrapper
                display table
                + .box-wrapper
                    margin-top 22px
                    +mobile()
                        margin-top 10px
                .titulo
                .texto
                    display table-cell
                    vertical-align middle
                .titulo
                    width 180px
                    background #F8EECF
                    lato 24 light
                    color $azul
                    padding 0 20px
                    text-transform uppercase
                    height 90px
                .texto
                    vertical-align top
                    padding 12px 32px
                    lato 16
                    color $azul
                    line-height 1.35
                +mobile()
                    display block
                    .titulo
                    .texto
                        display block
                    .titulo
                        width 100%
                        lato 20 light
                        padding 15px 20px
                        height auto
                    .texto
                        padding 10px 20px 20px
                        font-size 15px
            .detalhes
                margin-top 60px
                +mobile()
                    margin-top 30px
                .detalhe
                    border-top 1px solid $amarelo
                    width 100%
                    clearfix()
                    + .detalhe
                        margin-top 40px
                    img
                        width 160px
                        float left
                        display block
                        +mobile()
                            width 80px
                    .texto
                        width calc('100% - 160px')
                        padding 22px 0 0 22px
                        float left
                        +mobile()
                            width calc('100% - 80px')
                            padding 15px 0 0 15px
                        h3
                            lato 20 black
                            color $amarelo
                            margin 0 0 10px
                            +mobile()
                                font-size 18px
                        p
                            lato 16
                            color $azul
                            margin 0
                            +mobile()
                                font-size 15px
